html {
    font-size: 18px;
}

.login {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;

    background: url("../svg/movie-bg.svg"), url("../svg/movie-bg.svg");
    background-repeat: repeat-y, repeat-y;
    background-size: 20%, 20%;
    background-position: left center, right center;
}

.login-form {
    grid-row: 2;
    grid-column: 2;
}

.login-input, .login-btn {
    display: block;
}

.login-input {
    margin-bottom: 1rem;
    width: 100%;
}

.login-btn {
    margin-bottom: 0.5rem;
    width: 100%;
}