.movies {
    padding: 0.2rem;
}

.movie-filters {
    padding: 0.5rem;
    text-align: right;
}

.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-device-width: 1500px) {
    .movie-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-device-width: 1000px) {
    .movie-list {
        grid-template-columns: 1fr;
    }
}

.card-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
    margin: 0.2rem;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.card-poster, .add-movie-btn {
    width: 10rem;
}

.card-info {
    padding: 1rem 2rem;
}

.card-date {
    position: absolute;

    right: 1rem;
    bottom: 1rem;
}

.add-movie-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0;
}