.navbar {
    --navbar-size: 5rem;

    height: var(--navbar-size);
    
    background-color: var(--main-color);
    color: white;

    position: sticky;
    top: 0;
    z-index: 1;

    display: grid;
    grid-template-columns: 5fr 1fr;
}

.navbar-close {
    display: flex;
    justify-content: flex-end;
    margin: auto 1rem;
}

.navbar-btn:visited, .navbar-btn:link {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border-radius: 0.3rem;
    color: var(--main-color);

    display: inline-block;
    padding: 0.5rem;
}

.dropdown {
    display: inline-flex;
    background-color: var(--main-color);
    position: relative;

    height: 100%;
    padding: 0rem 3rem;
}

.dropdown:hover > .dropdown-options {
    transform: translateY(calc(var(--navbar-size) * 2));
}

.dropdown:hover {
    background-color: var(--main-color-darker-2);
}

.dropdown-label {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
}

.dropdown-options {
    transition: transform 0.5s;

    list-style: none;
    background-color: var(--main-color-darker-2);
    position: absolute;
    
    top: -100%;
    z-index: -1;
    left: 0;
}

.drop-option, .drop-option:visited {
    font-weight: bold;
    text-decoration: none;
    
    color: white;
    transition: background-color 0.2s;
    
    display: block;
    padding: 1rem 3rem;
}

.drop-option:hover {
    background-color: var(--main-color);
    box-shadow: 0px 0.3rem 2px rgba(0, 0, 0, 0.2);
}