.navbar {
    height: 5rem;
    
    background-color: var(--main-color);
    color: white;

    position: sticky;
    top: 0px;
    z-index: 1;

    display: grid;
    grid-template-columns: 5fr 1fr;
}

.navbar-close {
    display: flex;
    justify-content: flex-end;
}

.navbar-menu, .navbar-close {
    margin: auto 1rem;
}

.navbar-btn:visited, .navbar-btn:link {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border-radius: 0.3rem;
    color: var(--main-color);

    display: inline-block;
    padding: 0.5rem;
}

.menu-btn {
    margin-right: 0.4rem;
}