.movie-backdrop {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.movie-overview {
    margin-bottom: 1rem;
}

.list-cinema {
    background-color: #ffffff9f;
    border-radius: 0.2rem;

    margin: 8rem;
    padding: 2rem;
}

.show-list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-device-width: 1700px) {
    .show-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-device-width: 1300px) {
    .show-list {
        grid-template-columns: 1fr 1fr;
    }
}

.show-info {
    margin: 0.5rem;
}

.show-price {
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.show-card {
    position: relative;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;

    margin: 0.5rem;
    padding: 0.5rem 0;
}