@import url('cinema-list.css');
@import url('login.css');
@import url('movie-list.css');
@import url('navbar.css');
@import url('shows.css');
@import url('error.css');
@import url('alert.css');
@import url('form.css');
@import url('ticket.css');

:root {
    --main-color: #a81515;
    --main-color-darker-1: #811111;
    --main-color-darker-2: #861d1d;
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    /* Unselectable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100vh;
}

input {
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0.1rem;
    border-bottom: 0.1rem solid var(--main-color);

    transition: all 0.1s;
}

input:focus, input:hover {
    border-bottom-width: 0.1rem;
}

button {
    font-size: 1.2rem;
    font-weight: bold;

    color: white;
    background-color: var(--main-color);

    cursor: pointer;
    outline: none;
    border: none;
    
    border-radius: 0.15rem;
    padding: 0.4rem;

    transition: background-color 0.2s;
}

button:focus, button:hover {
    background-color: var(--main-color-darker-1);
}

button:active {
    background-color: var(--main-color-darker-2);
}

p {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}