@import url('navbar.css');

:root {
    --main-color: #6d73c0;
    --main-color-darker-1: #51558f;
    --main-color-darker-2: rgb(50, 52, 87);
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

input {
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0.1rem;
    border-bottom: 0.1rem solid var(--main-color);

    transition: all 0.1s;
}

input:focus, input:hover {
    border-bottom-width: 0.1rem;
}

button {
    font-size: 1.2rem;
    font-weight: bold;

    color: white;
    background-color: var(--main-color);

    cursor: pointer;
    outline: none;
    border: none;
    
    border-radius: 0.15rem;
    padding: 0.4rem;

    transition: all 0.2s;
}

button:focus, button:hover {
    background-color:#51558f;
}

button:active {
    background-color: rgb(50, 52, 87);
}